<h1>Get Customer By ID</h1>
<br>
<br>
<form class="container" ng-controller="MainCtrl">
    <div class="form-group">
        <label for="companyName">Enter Customer Id</label>
        <input class="form-control" placeholder="Customer ID" [(ngModel)]=_id #customerName="ngModel" name="ID" type="number" id="ID" required=""/>           
    </div>
    <div class="form-group">
        <button (click)="getCustomerById()" class="btn btn-success btn-lg">Get Customer  <span class="glyphicon glyphicon-plus"></span></button>        
    </div>    
</form>

<div class="table-box">
    <table class="table">
        <tbody id="tbody_tr" var="_customer">
            <br>
            <tr><td>Id</td><td>{{_customer.id}}</td></tr>            
            <tr><td>Customer Name</td><td>{{_customer.custName}}</td></tr>
            <tr><td>Password</td><td>{{_customer.password}}</td></tr>                       
            <tr>
                <td (click)="editCustomer(_customer)" class="btn btn-primary btn-sm" routerLink="/updateCustomer"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit &nbsp;</td>   
                <td (click)="deleteCustomer(_customer.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete &nbsp;</td>
            </tr>            
        </tbody>
    </table>
</div>
