<h1>Update Company</h1>
<br>
<br>
<div class="container" ng-controller="MainCtrl">
    <div class="form-group">
        <label for="CompanyId">Company id</label>
        <input type="number" class="form-control" placeholder="CompanyId" [(ngModel)]="_company.id" name="CompanyId" id="CompanyId" disabled/>                
    </div>
    <div class="form-group">
        <label for="CompanyName">Company Name</label>
        <input class="form-control" placeholder="CompanyName" [(ngModel)]="_company.compName" name="companyName" type="text" id="CompanyName" />
    </div>   
    <div class="form-group">
        <label for="Password">Password</label>
        <input class="form-control" placeholder="Password" [(ngModel)]="_company.password" name="password" type="text" id="Password"/>
    </div>
    <div class="form-group">
        <label for="Email">E-mail</label>
        <input class="form-control" placeholder="Email" [(ngModel)]="_company.email" type="email" name="email" id="Email" />
    </div>
    <div class="form-group">
        <button (click)="updateCompany()" class="btn btn-primary btn-lg" routerLink="/getAllCompanies">Update Company  <span class="glyphicon glyphicon-plus"></span></button> 
        <button class="btn btn-danger btn-lg" routerLink="/getAllCompanies">cancel  <span class="glyphicon glyphicon-plus"></span></button>        
    </div>
</div>


