<h1>Get Coupon by ID</h1>

<form class="container" ng-controller="MainCtrl">
    <div class="form-group">
        <label for="couponId">Enter Coupon Id</label>  
        <input class="form-control" placeholder="Coupon ID" [(ngModel)]=_id #couponId="ngModel" name="couponId" type="number" id="couponId" required=""/>        
    </div>
    <div class="form-group">
        <button (click)="getCouponById()" class="btn btn-primary btn-lg">Get Coupon by Id <span class="glyphicon glyphicon-plus"></span></button>        
    </div>    
</form>  
  
 <div class="table-box">
    <table class="table">
        <thead>
                <img src="{{_coupon.image}}">
        </thead>
        <tbody id="tbody_tr" var="_coupon">
            <br>
            <tr><td>Id</td><td>{{_coupon.id}}</td></tr>            
            <tr><td>Title</td><td>{{_coupon.title}}</td></tr>
            <tr><td>Start Date</td><td>{{_coupon.startDate | date : "dd/MM/yyyy"}}</td></tr>
            <tr><td>End Date</td><td>{{_coupon.endDate | date : "dd/MM/yyyy"}}</td></tr>
            <tr><td>Amount</td><td>{{_coupon.amount}}</td></tr>
            <tr><td>Type</td><td>{{_coupon.type}}</td></tr>
            <tr><td>Message</td><td>{{_coupon.message}}</td></tr>
            <tr><td>Price</td><td>{{_coupon.price | currency: 'ILS'}}</td></tr>
            <tr>
                <td id="icon" (click)="deleteCoupon(_coupon.id)" class="btn btn-danger btn-sm" >Delete</td>             
                <td id="icon" (click)="editCoupon(_coupon)" class="btn btn-primary btn-sm" routerLink="/updateCoupon">&nbsp;  Edit &nbsp;</td> 
            </tr>            
        </tbody>
    </table>
    </div>
  

