<h1> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete Customer by ID</h1>
<br>
<br>
<form ngNativeValidate class="form-horizontal" style="margin-left: 20px">
        <div class="form-group">
            <label for="CustomerId" class="control-label col-sm-2">Enter Customer id</label>
            <div class="col-sm-3">
                    <input type="number" class="form-control" placeholder="Customer ID" 
                        [(ngModel)]=_id name="_id" required=""/>
             </div>
        </div>
      
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">           
                <button (click)="deleteCustomer(_id)" class="btn btn-danger btn-lg">Delete Customer  
                    <span class="glyphicon glyphicon-trash"></span></button>
            </div>
        </div>
    </form>
    
    