
h1{
    font-size: 70pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2cm;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (min-width: 1200px) {
    .container{
        max-width: 500px;
    }
}

.alert-danger{
    font-size: 10pt;
}
