h1{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2cm;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (min-width: 1200px) {
    .container{
        max-width: 400px;
    }
}

.table{    
    margin: auto;  
    margin-top: 50px;  
    width: 30%;
}
.form-group button{
    width: 100%;
    margin: 0 auto;       
}

td{
    font-size: 16pt;
    /* color: navy; */
}
