<h1> &nbsp;&nbsp;&nbsp;&nbsp;&emsp;Delete Coupon </h1>
<br>
<form ngNativeValidate class="form-horizontal" style="margin-left: 20px">
  <div class="form-group">        
      <label for="CouponId" class="control-label col-sm-1">Enter Coupon id</label>
      <div class="col-sm-2">
              <input type="number" class="form-control" placeholder="Coupon Id" [(ngModel)]=_id name="_id" required=""/>
       </div>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-1 col-sm-10">           
          <button (click)="deleteCoupon()" class="btn btn-danger btn-lg">Delete Coupon  <span class="glyphicon glyphicon-remove"></span></button>
      </div>
  </div>
</form>