<header>
  Welcome Admin 
</header>
<nav class="navbar navbar-default bg-primary">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">        
        <li><button class="btn btn-primary navbar-btn" routerLink="/createCompany">create company</button></li>       
        <li><button class="btn btn-primary navbar-btn" routerLink="/getAllCompanies">get all companies  <span class="glyphicon glyphicon-search"></span></button></li>
        <li><button class="btn btn-primary navbar-btn" routerLink="/getCompanyById">get company by id <span class="glyphicon glyphicon-search"></span></button></li> 
        <li><button class="btn btn-primary navbar-btn" routerLink="/getCompanyByName">get company by name <span class="glyphicon glyphicon-search"></span></button></li> 
        <li><button class="btn btn-success navbar-btn" routerLink="/createCustomer">create customer</button></li>      
        <li><button class="btn btn-success navbar-btn" routerLink="/getAllCustomers">get all customers <span class="glyphicon glyphicon-search"></span></button></li> 
        <li><button class="btn btn-success navbar-btn" routerLink="/getCustomerById">get customer by id <span class="glyphicon glyphicon-search"></span></button></li> 
        <li><button class="btn btn-success navbar-btn" routerLink="/getCustomerByName">get customer by name <span class="glyphicon glyphicon-search"></span></button></li>         
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li><a href="http://localhost:8080/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>            
  </div>
</nav>
<router-outlet></router-outlet> 
