<header>
 Hello Company
</header>
<nav class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <button class="btn btn-primary navbar-btn" routerLink="/createCoupon">create coupon</button>      
        <button class="btn btn-primary navbar-btn" routerLink="/getAllCoupons">get all coupons  <span class="glyphicon glyphicon-search"></span></button> 
        <button class="btn btn-primary navbar-btn" routerLink="/getCouponById">get coupon by id <span class="glyphicon glyphicon-search"></span></button> 
        <button class="btn btn-primary navbar-btn" routerLink="/getCouponByName">get coupon by name <span class="glyphicon glyphicon-search"></span></button>         
        <button class="btn btn-primary navbar-btn" routerLink="/getCouponsByDate">get coupons by date <span class="glyphicon glyphicon-search"></span></button>      
        <button class="btn btn-primary navbar-btn" routerLink="/getCouponsByType">get coupons by type <span class="glyphicon glyphicon-search"></span></button>
        <button class="btn btn-primary navbar-btn" routerLink="/getCouponsByPrice">get coupons by price <span class="glyphicon glyphicon-search"></span></button>        
      </ul>
      <ul class="nav navbar-nav navbar-right">        
        <li><a href="http://localhost:8080/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>            
  </div>
</nav>

<router-outlet></router-outlet> 
