<h1 style="font-size: 70px">List of Customers</h1>
<div class="getall">    
    <button (click)="getAllCustomers()" class="btn btn-success btn-lg">Get All Customers  
        <span class="glyphicon glyphicon-plus"></span></button>    
</div>
<br>
<div class="inputDiv">
        <input id="searchBox" wvmatInput (keyup)="applyFilter($event.target.value)" placeholder="Search"  />                
</div>
<br>
<div class="results">
    <div *ngIf="_noResults == true; then noResults else foundResults"></div>
        <ng-template #noResults><div style="color:rgb(255, 0, 0); font-size:25pt">No Customers found</div></ng-template>
        <ng-template #foundResults><div style="color:navy; font-size:25pt">Found Customers</div></ng-template>
</div>

<div class="table">
        <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">        
                <!-- id column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>            
                    <mat-cell *matCellDef="let customer">{{customer.id}}</mat-cell>            
                </ng-container>
                <!-- Company Name column -->
                <ng-container matColumnDef="custName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
                    <mat-cell *matCellDef="let customer">{{customer.custName}}</mat-cell>
                </ng-container>
                <!-- Password column -->
                <ng-container matColumnDef="password">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Password</mat-header-cell>
                    <mat-cell *matCellDef="let customer">{{customer.password}}</mat-cell>
                </ng-container>               
                <!-- options Edit/Delete column -->
                <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef style="font-size: 15px"></mat-header-cell>
                        <mat-cell *matCellDef="let customer">
                                <button (click)="editCustomer(customer)" class="btn btn-primary btn-sm" routerLink="/updateCustomer" style="width:-20x"><span class="glyphicon glyphicon-pencil"></span>&nbsp;edit &nbsp;</button>
                                <button (click)="deleteCustomer(customer.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" ></span>&nbsp; Delete</button>                                  
                        </mat-cell>
                </ng-container>  
                       
            <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
            <mat-row id="rowHover" *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>
    </div>

