h1{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}

@media (min-width: 1200px) {
    .container{
        max-width: 400px;
    }
}

.table{    
    margin: auto;  
    margin-top: 50px;  
    width: 25%;
}
.form-group button{
    width: 100%;
    margin: 0 auto;       
}


img{
    width: 30%;
    position:relative;
    top: 50%;
    left: 50%;
    /* border: 2px solid; */
}

td{
    font-size: 13pt;
    color: navy;
}
#icon{
    color: black;
}
