<h1>Get Customer By Name</h1>
<br>
<br>
<form class="container" ng-controller="MainCtrl">
    <div class="form-group">
        <label for="cutomerName">Enter Customer Name</label>  
        <input class="form-control" placeholder="Customer Name" [(ngModel)]=_custName #customerName="ngModel" name="cutomerName" type="text" id="companyName" required=""/>         
    </div>
    <div class="form-group">
        <button (click)="getCustomerByName()" class="btn btn-success btn-lg">Get Customer <span class="glyphicon glyphicon-plus"></span></button>        
    </div>    
</form>  

<div class="table-box">
    <table class="table">
        <tbody id="tbody_tr" var="_customer">
            <br>
            <tr><td>Id</td><td>{{_customer.id}}</td></tr>            
            <tr><td>Customer Name</td><td>{{_customer.custName}}</td></tr>
            <tr><td>Password</td><td>{{_customer.password}}</td></tr>                       
            <tr>
                <td (click)="editCustomer(_customer)" class="btn btn-primary btn-sm" routerLink="/updateCustomer"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Edit &nbsp;</td>   
                <td (click)="deleteCustomer(_customer.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span>&nbsp; Delete &nbsp;</td>
            </tr>            
        </tbody>
    </table>
</div>
