<h1>Update Coupon</h1>
<div class="container" ng-controller="MainCtrl">
   <div class="form-group">                 
    <label for="Id">Id</label>
    <input class="form-control" placeholder="Id" [(ngModel)]="_coupon.id" name="Id" type="number" id="Id" required="" disabled/>      
  </div>  
    <div class="form-group">                 
    <label for="Title">Title</label>
    <input class="form-control" placeholder="Title" [(ngModel)]="_coupon.title" name="Title" type="text" id="Title" required=""/>      
  </div>   
  <div class="form-group">
    <label for="StartDate" >Start Date</label>      
    <input class="form-control" placeholder="startDate" [(ngModel)]="_coupon.startDate" name="StartDate" type="date" id="StartDate" required=""/>
  </div>
  <div class="form-group">
    <label for="EndDate">End Date</label>    
    <input class="form-control" placeholder="endDate" [(ngModel)]="_coupon.endDate" name="EndDate" type="date" id="EndDate"/>    
  </div>
  <div class="form-group">
    <label for="Amount">Amount</label>
    <input class="form-control" placeholder="amount" [(ngModel)]="_coupon.amount" name="Amount" type="number" id="Amount" required=""/>
  </div>    
  <div class="form-group">
        <label for="couponType">Coupon Type</label>
        <select class="form-control" placeholder="Coupon Type" [(ngModel)]="_coupon.type" name="couponType" id="couponType" required="">
                <option value=""></option>
                <option value="RESTURANTS">RESTURANTS</option>
                <option value="ELECTRICITY">ELECTRICITY</option>
                <option value="FOOD">FOOD</option>
                <option value="HEALTH">HEALTH</option>
                <option value="SPORTS">SPORTS</option>
                <option value="CAMPING">CAMPING</option>
                <option value="TRAVELLING">TRAVELLING</option>
        </select>
  </div>      
  <div class="form-group">
    <label for="Message">Message</label>
    <input class="form-control" placeholder="message" [(ngModel)]="_coupon.message" name="Message" type="text" id="Message" required=""/>       
  </div>
  <div class="form-group">
    <label for="Price">Price</label>
    <input class="form-control" placeholder="price" [(ngModel)]="_coupon.price" name="Price" type="number" id="Price" required=""/>
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <select name="image" #image="ngModel" class="form-control" placeholder="image" [(ngModel)]="_coupon.image" id="image">
        <option value=""></option>
        <option value="{{resturants}}">resturant</option>
        <option value="{{electricity}}">electricity</option>
        <option value="{{food}}">food</option>
        <option value="{{health}}">health</option>
        <option value="{{sports}}">sports</option>
        <option value="{{camping}}">camping</option>
        <option value="{{travelling}}">travelling</option>
    </select>
  </div>
  <div class="form-group">      
    <button (click)="updateCoupon()" class="btn btn-primary btn-lg" routerLink="/getAllCoupons">Update Coupon  <span class="glyphicon glyphicon-plus"></span></button>
  </div>      
</div>


  