<h1 style="font-size: 70px">List of Companies</h1>
<br>
<form class="container" ng-controller="MainCtrl">
    <div class="form-group">    
        <button class="form-control" (click)="getAllCompanies()" class="btn btn-primary btn-lg">Get <span class="glyphicon glyphicon-search"></span></button>            
    </div>
    <br>
    <div class="form-group">
            <input class="form-control" id="searchBox" wvmatInput (keyup)="applyFilter($event.target.value)" placeholder="Search"  />                
    </div>
    <br>
    <div class="results">
        <div *ngIf="_noResults == true; then noResults else foundResults"></div>
            <ng-template #noResults><div style="color:red; font-size:25pt">No Companies found</div></ng-template>
            <ng-template #foundResults><div style="color:navy; font-size:25pt">Found Companies</div></ng-template>
    </div>
</form>    

<div class="table">
    <mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="asc">        
            <!-- id column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>            
                <mat-cell *matCellDef="let company">{{company.id}}</mat-cell>            
            </ng-container>
            <!-- Company Name column -->
            <ng-container matColumnDef="compName">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Name</mat-header-cell>
                <mat-cell *matCellDef="let company">{{company.compName}}</mat-cell>
            </ng-container>
            <!-- Password column -->
            <ng-container matColumnDef="password">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Password</mat-header-cell>
                <mat-cell *matCellDef="let company">{{company.password}}</mat-cell>
            </ng-container>
            <!-- E-mail column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
                <mat-cell *matCellDef="let company">{{company.email}}</mat-cell>           
            </ng-container>
           
            <!-- options Edit/Delete column -->
            <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef style="font-size: 15px"></mat-header-cell>
                    <mat-cell *matCellDef="let company">
                            <button (click)="editCompany(company)" class="btn btn-primary btn-sm" routerLink="/updateCompany" style="width:-20x"><span class="glyphicon glyphicon-pencil"></span>&nbsp;edit &nbsp;</button>                          
                            <button (click)="deleteCompany(company.id)" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash" ></span>&nbsp; Delete</button>                                                              
                    </mat-cell>
            </ng-container>                     
        <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>
        <mat-row id="rowHover" *matRowDef="let row; columns: displayedColumns"></mat-row>               
    </mat-table>    
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" [showFirstLastButtons]="true"></mat-paginator>
</div>
