 h1{
    font-size: 50pt;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

@media (min-width: 1200px) {
    .container{
        max-width: 400px;
    }
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}

.getall
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.inputDiv{
    width: 100%;
    text-align: center;
    font-size: large;
}

#searchBox{
    width: 20%;
    height: 40px;
    /* text-align: center;
    border-radius: 10px 10px 10px 10px; */
    /* background: none repeat scroll 0 0 #66A3D2; */
  /* border-color: #FFFFFF #327CB5 #327CB5 #FFFFFF; */
  border-radius: 10px 10px 10px 10px;
  /* border-style: solid; */
  /* border-width: 1px; */
  /* box-shadow: 1px 1px 3px #333333; */
  /* color: #FFFFFF; */
  cursor: pointer;
  /* font-weight: bold; */
  /* padding: 5px; */
  text-align: center;
  /* text-shadow: 1px 1px 1px #000000; */
    
}

mat-table{
    background: transparent;
}

mat-header-cell{
    color: rgb(0, 0, 0);
    font-size: 15pt;
}
mat-cell{
    font-size: 12pt;
}

mat-header-row{
    font-size: 10px;
    font-size-adjust: initial;
}
.form-group button{
    width: 100%;
    margin: 0 auto;       
}

#rowHover:hover {
    background-color: rgb(156, 192, 192);
    opacity: 0.7;
}

mat-paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 100%;
    color : rgb(0, 0, 0);
}

img{
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    width: 150px;
    height: 90px;
}

