<h1>Update Customer</h1>
<br>
<br>
<div class="container" ng-controller="MainCtrl">
    <div class="form-group">
        <label for="CustomerId">Customer id</label>        
        <input type="number" class="form-control" placeholder="CustomerId" [(ngModel)]="_customer.id" name="CustomerId" id="CustomerId" disabled/>                       
    </div>
    <div class="form-group">
        <label for="CustomerName">Customer Name</label>        
        <input class="form-control" placeholder="CustomerName" [(ngModel)]="_customer.custName" name="customerName" type="text" id="CustomerName" />        
    </div>   
    <div class="form-group">
        <label for="Password">Password</label>
        <input class="form-control" placeholder="Password" [(ngModel)]="_customer.password" name="password" type="text" id="Password"/>    
    </div>    
    <div class="form-group">
        <button (click)="updateCustomer()" class="btn btn-success btn-lg" routerLink="/getAllCustomers">Update Customer  <span class="glyphicon glyphicon-plus"></span></button>        
    </div>
</div>

