<header>
    Greeting's Customer
</header>
<nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">                
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse"> 
                <ul class="nav navbar-nav">
                    <!-- <button class="btn btn-light navbar-btn"><a href="#">Home</a></button> -->
                    <button class="btn btn-primary navbar-btn" routerLink="/showAllCoupons">Show Coupons <span class="glyphicon glyphicon-search"></span></button>
                    <!-- <button class="btn btn-primary navbar-btn" routerLink="/purchaseCoupons">purchase Coupons <span class="glyphicon glyphicon-search"></span></button>       -->
                    <button class="btn btn-primary navbar-btn" routerLink="/getAllPurchasedCoupons">get Purchased Coupons <span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-primary navbar-btn" routerLink="/getAllPurchasedCouponsByType">get Coupons By Type <span class="glyphicon glyphicon-search"></span></button>
                    <button class="btn btn-primary navbar-btn" routerLink="/getAllPurchasedCouponsByPrice">get Coupons By Price <span class="glyphicon glyphicon-search"></span></button> 
                    <button class="btn btn-primary navbar-btn" routerLink="/getAllPurchasedCouponsByTitle">get Coupons By Title <span class="glyphicon glyphicon-search"></span></button>                                          
                </ul>
                <ul class="nav navbar-nav navbar-right">        
                    <li><a href="http://localhost:8080/login.html" id="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>                          
            </div>
                                  
</nav>

<router-outlet></router-outlet>    


