h1{
    font-size: 70pt;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;   
    color: white;
}

.getall
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.inputDiv{
    width: 100%;
    text-align: center;
    font-size: large;
}

#searchBox{
    width: 20%;
    height: 40px;
  border-radius: 10px 10px 10px 10px;
  cursor: pointer;
  text-align: center;    
}

.table{    
    margin: auto;  
    margin-top: 50px;  
    /* width: 80%; */
    background: transparent;    
    /* opacity : 0.5; 
    display: block;     */
     
}

mat-table{
    background: transparent;
}

mat-header-cell{
    color: rgb(0, 0, 0);
    font-size: 20px;
}

mat-cell{
    font-size: 12pt;
}

mat-header-row{
    /* background-color: skyblue; */
    font-size: 10px;
    font-size-adjust: initial;
}
.getall button{
    width: 20%;
    margin: 0 auto;       
}

#rowHover:hover {
    background-color: rgb(150, 156, 218);
}

mat-paginator{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    font-size: 100%;
    color : rgb(0, 0, 0);
}

img{
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    width: 150px;
    height: 90px;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}